*.a
*.o
*.la
*.lo
*.so
*.pb.h
*.pb.cc
*.pyc
*.aux
*.bbl
*.blg
*.dvi
*.ent
*.log
.svn

#runtime files
logs/
checkpoints/
testdata/
profile/
bin/
logs/

#dependency generation
.deps/
Makefile.dep

#eclipse stuff
.project
.pydevproject
.cproject
.libs/
.settings

# build
doc/_build
doc/_static
doc/_templates
build/

.ropeproject/
